@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=MonteCarlo&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Rampart+One&display=swap');
.App {
  text-align: center;
  padding-left: 500px;
  padding-top: 100px;
  padding-bottom: 120px;
  
  
  background-image: url('https://cdn.wallpapersafari.com/55/73/ghY4rc.jpg')  ;
}
img{
  border-radius: 30px;
  padding-top: 10px;
  width: 400px;
}
.name{
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(226, 43, 211);
  font-size: 50px;
}
.text{
  font-family: 'MonteCarlo', cursive;
  font-size: 30px;
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
